{% assign tag_arrays = site.logos | map: "tags" | uniq %}
{% assign tags = '' | split: '' %}{% comment %} initialize array {% endcomment %}
{% for tag_array in tag_arrays %}
  {% for tag in tag_array %}
    {% assign tags = tags | push: tag %}
  {% endfor %}
{% endfor %}
{% assign tags = tags | uniq %}

{% capture filters %}
  {% for tag in tags %}
    {% assign tagged_logos = site.logos | where_exp: 'logo', 'logo.tags contains tag' %}
    <li data-sort="{{ site.logos.size | minus: tagged_logos.size | prepend: '0000' | slice: -4, 4 }}" class="filter"><a href="/filters/{{ tag | slugify }}/">{{ tag }} ({{ tagged_logos.size }})</a></li>
  {% endfor %}
{% endcapture %}

{% assign filters_array = filters | split:'</li>' | sort %}
{% assign truncated_filters_array = '' | split: '' %}
{% for item in filters_array | limit:26 %}
  {% assign truncated_filters_array = truncated_filters_array | push: item %}
{% endfor %}

<ul class="filters">
  {% if include.truncate %}
    {{ truncated_filters_array | join:'</li>' }}
  {% else %}
    {{ filters_array | join:'</li>' }}
  {% endif %}
</ul>
