// typography
// ----------

$font-size--html:   14px;
$font-size--normal: 1em;
$font-family--body: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;

$line-height--normal: 1.4;

// sizing and spacing
// ------------------

$v: $line-height--normal * 1rem;

// grid
// ----

$max-width--container: 1440px;

// xs | sm | md | lg
$bp-xs-sm: 36rem;
$bp-sm-md: 54rem;
$bp-md-lg: 72rem;

$gutter:       1.333333rem;
$outer-gutter: $gutter*1;

// miscellaneous
// -------------

$opacity--faded: 0.666667;