// typography
// ----------

$font-size--html:   14px;
$font-size--normal: 1em;
$font-family--body: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
$letter-spacing--body: 0;

$line-height--normal: 1.4;

// sizing and spacing
// ------------------

$v: $line-height--normal * 1rem;

// grid
// ----

$max-width--container: 1680px;
$max-width--narrow:    48rem;

// xs | sm | md | lg
$bp-xs-sm: 36rem;
$bp-sm-md: 54rem;
$bp-md-lg: 72rem;
$bp-lg-xl: 90rem;

$gutter:       2.5rem;
$outer-gutter: $gutter*0.5;

// miscellaneous
// -------------

$opacity--faded:   0.666667;
