---
layout: default
---

<ul>
  <li class="filter">
    <details class="filter__details">
      <summary class="filter__summary"><h2>Designers</h2></summary>
      <ul class="tag-items">
        {% for designer in site.designers %}
          <li class="tag-item"><a href="{{ designer.url }}">{{ designer.title }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li class="filter">
    <details class="filter__details">
      <summary class="filter__summary"><h2>Countries</h2></summary>
      <ul class="tag-items">
        {% for country in site.countries %}
          <li class="tag-item"><a href="{{ country.url }}">{{ country.title }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li class="filter">
    <details class="filter__details">
      <summary class="filter__summary"><h2>Years</h2></summary>
      <ul class="tag-items">
        {% for year in site.years %}
          <li class="tag-item"><a href="{{ year.url }}">{{ year.title }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li class="filter">
    <details class="filter__details">
      <summary class="filter__summary"><h2>Tags</h2></summary>
      <ul class="tag-items">
        {% for tag in site.post_tags %}
          <li class="tag-item"><a href="{{ tag.url }}">{{ tag.title }}</a></li>
        {% endfor %}
      </ul>
    </details>
  </li>
</ul>

<div class="logo-previews row">
  {% for post in paginator.posts %}
    {% include logo-preview.html %}
  {% endfor %}
</div>

{% unless paginator.total_pages == 1 %}
  <footer class="pagination">
    {% capture pagination %}
      <ul class="pagination__items">
        {% if paginator.previous_page %}
          <li class="pagination__item"><a href="{{ paginator.previous_page_path }}">Previous</a></li>
        {% endif %}
        
        {% for page in (1..paginator.total_pages) %}
          <li class="pagination__item pagination__item--num">
            {% if page == paginator.page %}
              <s>{{ page }}</s>
            {% elsif page == 1 %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          </li>
        {% endfor %}

        {% if paginator.next_page %}
          <li class="pagination__item"><a href="{{ paginator.next_page_path }}">Next</a></li>
        {% endif %}
      </ul>
    {% endcapture %}{{ pagination |  normalize_whitespace | replace: '> <', '><' }}
  </footer>  
{% endunless %}