---
layout: default
---

<main class="main container logo">
  <header class="logo__meta">
    <h1>{{ page.title }}</h1>
    <ul class="logo__filters">
      {% for filter in page.tags %}
        <li class="logo__filter"><a href="/filters/{{ filter | slugify }}/">{{ filter }}</a></li>
      {% endfor %}
    </ul>
  </header>

  <div class="logo__figure-wrap logo__figure-wrap--pad{{ page.pad }}">
    <figure class="logo__figure" style="background-image: url('{{ site.image_path }}{{ page.title | slugify: 'pretty' }}.svg')"></figure>
  </div>
</main>
