---
layout: default
---

<div class="breadcrumb">
  {% capture link %}
  <a href="../">
    {% if page.collection == 'post_tags' %}
      Tags
    {% else %}
      {% assign collection = site.collections | where_exp: 'collection', 'collection.label == page.collection' %}
      {{ collection[0].title }}
    {% endif %}
  </a>
  {% endcapture %}{{ link | normalize_whitespace | replace: '> ', '>' | replace: ' <', '<' }} / <u>{{ page.title }}</u>
</div>

{% if page.collection == 'post_tags' %}
  {% assign filtered_posts = site.posts | where_exp: 'post', 'post.tags contains page.title' %}
{% elsif page.collection == 'designers' %}
  {% assign filtered_posts = site.posts | where_exp: 'post', 'post.designer == page.title' %}
{% elsif page.collection == 'countries' %}
  {% assign filtered_posts = site.posts | where_exp: 'post', 'post.country == page.title' %}
{% elsif page.collection == 'years' %}
  {% assign filtered_posts = site.posts | where_exp: 'post', 'post.year == page.title' %}
{% endif %}
<div class="logo-previews row">
  {% for post in filtered_posts %}
    {% include logo-preview.html %}
  {% endfor %}
</div>
